<section>
  <h2>Community</h2>
  <div>
    <%= for card <- @community_cards do %>
      <%= live_component @socket, CardComponent, card: card %>
    <% end %>
  </div>
  <button phx-click="deal">Deal</button>
</section>
