<ul>
    <li>
        <a href="<%= Routes.live_path(@socket, LurifaxWeb.PlayerLive) %>">Player</a>
    </li>
    <li>
        <a href="<%= Routes.live_path(@socket, LurifaxWeb.CommunityLive) %>">Community</a>
    </li>
</ul>
